.dv-aims-basic-no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    font-size: 14px;
    color: var(--dv-color-text-secondary);
}
