.dv-wgms-flex-bw-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dv-wgms-flex-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dv-wgms-mgb12 {
    margin-bottom: 12px;
}

.dv-wgms-mgb8 {
    margin-bottom: 8px;
}

.dv-wgms-white-60 {
    color: var(--dv-color-text-secondary);
}

.dv-wgms-mgr4 {
    margin-right: 4px;
}
