.light {
    .dv-ipes-hazardous-vehicle-manage {
        --image-car-entry: url("./../common/images/car-entry.light.png");
        --image-car-exit: url("./../common/images/car-exit.light.png");
        --image-car-online: url("./../common/images/car-online.light.png");
        --image-car-total: url("./../common/images/car-total.light.png");
    }
}

.dark {
    .dv-ipes-hazardous-vehicle-manage {
        --image-car-entry: url("./../common/images/car-entry.png");
        --image-car-exit: url("./../common/images/car-exit.png");
        --image-car-online: url("./../common/images/car-online.png");
        --image-car-total: url("./../common/images/car-total.png");
    }
}

.dv-ipes-hazardous-vehicle-manage {
    box-sizing: border-box;

    .sealing-row {
        padding: 12px;
        overflow: hidden;

        &:nth-child(2) {
            margin-top: 12px;
        }
    }

    .sealing-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;

        .module-icon {
            width: 14px;
            height: 14px;
            margin-right: 4px;
        }

        &__title {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 14px;
            color: var(--dv-color-text-primary);
        }

        &__title--sub {
            font-family: var(--dv-font-family-number);
            font-size: var(--dv-text-number1);
            color: var(--dv-color-text-secondary);
        }
    }

    .hazardous-statistics {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 9px 2px;
        font-family: var(--font-family-text);
        text-align: center;

        .hazardous-statistics-item {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            width: 100%;

            &:nth-child(1) {
                margin-right: 5px;

                .hazardous-statistics-item__total {
                    height: 88px;
                    font-family: var(--dv-font-family-number);
                    background: var(--image-car-total) center center no-repeat;
                    background-size: auto 100%;

                    > span {
                        font-family: var(--dv-font-family-number);
                        font-size: var(--dv-text-number6);
                        color: var(--dv-color-warning);
                        text-shadow: 0 1px 2px 0 var(--dv-text-shadow);
                    }
                }
            }

            &:nth-child(2) {
                margin-left: 5px;

                .hazardous-statistics-item__total {
                    height: 86px;
                    font-family: var(--dv-font-family-number);
                    background: var(--image-car-online) center center no-repeat;
                    background-size: auto 100%;

                    > span {
                        font-family: var(--dv-font-family-number);
                        font-size: var(--dv-text-number6);
                        color: var(--dv-color-index);
                        text-shadow: 0 1px 2px 0 var(--dv-text-shadow);
                    }
                }
            }
        }

        .hazardous-statistics-item__type {
            position: static;
            z-index: 1;
            margin-bottom: 7px;
            font-size: var(--dv-text-headline2);
            color: var(--dv-color-text-primary);
            text-shadow: 0 1px 2px 0 var(--dv-text-shadow);
        }

        .hazardous-statistics-item__total {
            width: 124px;
            margin-bottom: 9px;
            font-family: var(--dv-font-family-number);

            > span {
                display: block;
                padding-top: 24px;
                margin-left: 65px;
                font-size: 24px;
                text-align: left;
            }
        }

        .hazardous-statistics-item__detail {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 68px;
            padding: 12px;
            background: var(--dv-color-fill-base);
            border: 1px solid var(--dv-color-border-base);
            border-radius: 4px;
        }

        .hazardous-statistics-item__col {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }

        .hazardous-statistics-item__label {
            font-size: 14px;
            letter-spacing: 0;
        }

        .hazardous-statistics-item__value {
            font-family: var(--dv-font-family-number);
            font-size: 14px;
            color: var(--dv-color-index);
            letter-spacing: 0;
        }
    }
}
